@font-face {
    font-family: Spartan;
    src: url("assets/fonts/LeagueSpartan-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Spartan;
    src: url("assets/fonts/LeagueSpartan-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Spartan;
    src: url("assets/fonts/LeagueSpartan-Regular.ttf");
    font-weight: 300;
}


*{
    font-family: Spartan;
    margin: 0%;
    border: 0cm;
    list-style: none;
    text-decoration: none;
    padding: 0%;
    outline: none;
}

html, #root, body{
    width: 100%;
    height: 100%;
    background-color: hsl(180, 52%, 96%);
}


@media screen and (max-width : 768px) {
    html, #root, body{
        width: 100%;
        height: max-content;
        background-color: hsl(180, 52%, 96%);
    }   
}